* {
    margin: 0;
}

.row {
    --bs-gutter-x: 0;
}

.navbar {
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.icons {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.col {

    text-align: center;
    line-height: 4em;
    border-color: white;
    border-style: solid;
    height: 5em;
}

.sidebar {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#keyboard {
    padding: 0.75em 1.5em;
    text-align: center;
}

#keyboard div {
    margin: 0.4em 0;
}

#space {
    width: 14em;
}

#keyboard label {
    margin-top: 1.25em;
    text-decoration: underline;
}

#keyboard input[type="text"] {
    margin-top: 1.25em;
    border: 0.062em solid #666;
    border-radius: 0.25em;
    box-shadow: none;
}

#keyboard #back {
    font-weight: bold;
}

#keyboard button {
    color: pink;
}